
<h2 class="text-warning bg-dark p-2">1) Ai array card</h2>
<div class="row">
    <div class="col-md-4 mb-4" *ngFor="let ai of aiArr">
        <div class="card h-100 ">
            <div class="card-header">
                <h3 class="m-0">{{ai.topic}}</h3>
            </div>
            <div class="card-body">
                <p class="m-0">
                   {{ai.details}}
                </p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-sm btn-success">Edit</button>
                <button class="btn btn-sm btn-danger">Remove</button>
            </div>
        </div>
    </div>
</div>

<hr>


<h2 class="text-warning bg-dark p-2">2) Math array card</h2>
<div class="row">
    <div class="col-md-4 mb-4" *ngFor="let math of mathArr">
        <div class="card h-100 ">
            <div class="card-header">
                <h3 class="m-0">{{math.concept}}</h3>
            </div>
            <div class="card-body">
                <p class="m-0">
                   {{math.explain}}
                </p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-sm btn-success">Edit</button>
                <button class="btn btn-sm btn-danger">Remove</button>
            </div>
        </div>
    </div>
</div>

<hr>


<h2 class="text-warning bg-dark p-2">3) Robotics array card</h2>
<div class="row">
    <div class="col-md-4 mb-4" *ngFor="let robotic of roboticsArr">
        <div class="card h-100 ">
            <div class="card-header">
                <h3 class="m-0">{{robotic.module}}</h3>
            </div>
            <div class="card-body">
                <p class="m-0">
                   {{robotic.summary}}
                </p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-sm btn-success">Edit</button>
                <button class="btn btn-sm btn-danger">Remove</button>
            </div>
        </div>
    </div>
</div>



<h2 class="text-warning bg-dark p-2">4) Business array card</h2>
<div class="row">
    <div class="col-md-4 mb-4" *ngFor="let business of businessArr">
        <div class="card h-100 ">
            <div class="card-header">
                <h3 class="m-0">{{business.topicName}}</h3>
            </div>
            <div class="card-body">
                <p class="m-0">
                   {{business.description}}
                </p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-sm btn-success">Edit</button>
                <button class="btn btn-sm btn-danger">Remove</button>
            </div>
        </div>
    </div>
</div>

<hr>


<h2 class="text-warning bg-dark p-2">5) Geography array card</h2>
<div class="row">
    <div class="col-md-4 mb-4" *ngFor="let geography of geographyArr">
        <div class="card h-100 ">
            <div class="card-header">
                <h3 class="m-0">{{geography.subject}}</h3>
            </div>
            <div class="card-body">
                <p class="m-0">
                   {{geography.info}}
                </p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-sm btn-success">Edit</button>
                <button class="btn btn-sm btn-danger">Remove</button>
            </div>
        </div>
    </div>
</div>


<h2 class="text-warning bg-dark p-2">6) Psychology array card</h2>
<div class="row">
    <div class="col-md-4 mb-4" *ngFor="let psychology of psychologyArr">
        <div class="card h-100 ">
            <div class="card-header">
                <h3 class="m-0">{{psychology.field}}</h3>
            </div>
            <div class="card-body">
                <p class="m-0">
                   {{psychology.concept}}
                </p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-sm btn-success">Edit</button>
                <button class="btn btn-sm btn-danger">Remove</button>
            </div>
        </div>
    </div>
</div>
<hr>

<h2 class="text-warning bg-dark p-2">7) Biology array card</h2>
<div class="row">
    <div class="col-md-4 mb-4" *ngFor="let biologyArr of biologyArr">
        <div class="card h-100 ">
            <div class="card-header">
                <h3 class="m-0">{{biologyArr.section}}</h3>
            </div>
            <div class="card-body">
                <p class="m-0">
                   {{biologyArr.detail}}
                </p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-sm btn-success">Edit</button>
                <button class="btn btn-sm btn-danger">Remove</button>
            </div>
        </div>
    </div>
</div>

<hr>


<h2 class="text-warning bg-dark p-2">8)TechTools array card</h2>
<div class="row">
    <div class="col-md-4 mb-4" *ngFor="let techTools of techToolsArr">
        <div class="card h-100 ">
            <div class="card-header">
                <h3 class="m-0">{{techTools.tool}}</h3>
            </div>
            <div class="card-body">
                <p class="m-0">
                   {{techTools.usage}}
                </p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-sm btn-success">Edit</button>
                <button class="btn btn-sm btn-danger">Remove</button>
            </div>
        </div>
    </div>
</div>

<hr>

<h2 class="text-warning bg-dark p-2">9)Education array card</h2>
<div class="row">
    <div class="col-md-4 mb-4" *ngFor="let education of educationArr">
        <div class="card h-100 ">
            <div class="card-header">
                <h3 class="m-0">{{education.subjectName}}</h3>
            </div>
            <div class="card-body">
                <p class="m-0">
                   {{education.overview}}
                </p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-sm btn-success">Edit</button>
                <button class="btn btn-sm btn-danger">Remove</button>
            </div>
        </div>
    </div>
</div>


<h2 class="text-warning bg-dark p-2">10)CLoud array card</h2>
<div class="row">
    <div class="col-md-4 mb-4" *ngFor="let cloud of cloudArr">
        <div class="card h-100 ">
            <div class="card-header">
                <h3 class="m-0">{{cloud.topic}}</h3>
            </div>
            <div class="card-body">
                <p class="m-0">
                   {{cloud.info}}
                </p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-sm btn-success">Edit</button>
                <button class="btn btn-sm btn-danger">Remove</button>
            </div>
        </div>
    </div>
</div>


<h2 class="text-danger m-2">Cards Component Ends here....</h2>
<hr>

